@model librarymgt.Models.BorrowedBookByStuId

@{
    ViewData["Title"] = "GetStudentIdToReturnBook";
}

<h2>Please Enter valid Information</h2>


<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="GetStudentIdToReturnBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div class="col-md-6">
    <form asp-action="GetStudentIdToReturnBookByRollNo" method="get">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Student Roll No</label>
            <input type="text" name="RollNumber" id="RollNumber" required="required" class="form-control" />
            
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </form>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
