@model librarymgt.Models.BookBorrowed

@{
    ViewData["Title"] = "ReturnBook";
}

<h2>ReturnBook</h2>

<h4>BookBorrowed</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ReturnBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" readonly="readonly" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" readonly="readonly" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="issuedate" class="control-label"></label>
                <input asp-for="issuedate" class="form-control" readonly="readonly" />
                <span asp-validation-for="issuedate" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="BookId" class="form-control" />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
             
                <input type="hidden" asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input readonly="readonly" asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Return Book" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
